{
  "net_name": "WeakCollaboration",
  "global":{
      "model_type": "PY",
      "weights_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest1/MatchZoo/examples/QuoraQP/weights/WC_sameLSTM_ranking.weights",
      "save_weights_iters": 20,
      "num_iters": 400,
      "display_interval": 10,
      "test_weights_iters": 400,
      "optimizer": "adam",
      "learning_rate": 0.001
  },
  "inputs": {
    "share": {
        "text1_corpus": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/corpus_preprocessed.txt",
        "text2_corpus": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/embed_glove_d300_norm",
        "vocab_size": 28159,
        "train_embed": false,
        "target_mode": "classification",
        "class_num": 2,
        "text1_maxlen": 20,
        "text2_maxlen": 20
    },
    "train": {
        "input_type": "PointGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 1024,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/relation_train.txt"
    },
    "valid": {
        "input_type": "PointGenerator",
        "phase": "EVAL",
        "batch_size": 1024,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/relation_valid.txt"
    },
    "test": {
        "input_type": "PointGenerator",
        "phase": "EVAL",
        "batch_size": 1024,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/relation_test.txt"
    },
    "predict": {
        "input_type": "PointGenerator",
        "phase": "PREDICT",
        "batch_size": 1024,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/MatchZoo/data/QuoraQP/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TEXTNET",
      "save_path": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest1/MatchZoo/examples/QuoraQP/predictions/predict_WC_sameLSTM_ranking.test.WC_ranking.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "weak_collaboration.WeakCollaboration",
    "setting": {
        "number_q_lstm_units": 50,
        "number_d_lstm_units": 100,
        "num_layers": 1,
        "hidden_sizes": [10],
        "hidden_activation": "relu",
        "output_activation": "softmax",
        "q_lstm_dropout": 0.2,
        "d_lstm_dropout": 0.25,
        "dropout_rate": 0.25,
        "mask_zero": false
    }
  },
  "losses": [
    {
       "object_name": "categorical_crossentropy",
       "object_params": {}
    }
  ],
  "metrics": [ "accuracy" ]
}
