{
  "net_name": "WeakCollaboration",
  "global":{
      "model_type": "PY",
      "weights_file": "/home/thiziri/Desktop/MZ_wc/weights/CWC_ranking_text2_100.weights",
      "save_weights_iters": 10,
      "num_iters": 200,
      "display_interval": 10,
      "test_weights_iters": 180,
      "optimizer": "adam",
      "learning_rate": 0.0025
  },
  "inputs": {
    "share": {
        "text1_corpus": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/corpus_preprocessed.txt",
        "text2_corpus": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/corpus_preprocessed.txt",
        "use_dpool": false,
        "embed_size": 300,
        "embed_path": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/embed_glove_d300_norm",
        "vocab_size": 18670,
        "train_embed": false,
        "target_mode": "ranking",
        "text1_maxlen": 10,
        "text2_maxlen": 50
    },
    "train": {
        "input_type": "PairGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 50,
        "batch_per_iter": 5,
        "batch_size": 100,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/relation_train.txt"
    },
    "valid": {
        "input_type": "ListGenerator",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/relation_valid.txt"
    },
    "test": {
        "input_type": "ListGenerator",
        "phase": "EVAL",
        "batch_list": 10,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/relation_test.txt"
    },
    "predict": {
        "input_type": "ListGenerator",
        "phase": "PREDICT",
        "batch_list": 10,
        "relation_file": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/data/WikiQA/relation_test.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "/home/thiziri/Desktop/MZ_wc/predict/predict_CWC_ranking_text2_100.test.ranking.txt"
    }
  },
  "model": {
    "model_path": "matchzoo/models/",
    "model_py": "conv_weak_collaboration.ConvWeakCollaboration",
    "setting": {
        "number_q_lstm_units": 20,
        "number_d_lstm_units": 20,
        "num_layers": 2,
        "hidden_sizes": [20, 10],
        "hidden_activation": "relu",
        "output_activation": "sigmoid",
        "q_lstm_dropout": 0.2,
        "d_lstm_dropout": 0.2,
        "dropout_rate": 0.15,
        "conv_dropout": 0.15,
        "mask_zero": true,
        "filters": 10,
        "kernel_size": 3,
        "conv_activation": "relu",
        "pool_size": 2
    }
  },
  "losses": [
    {
       "object_name": "rank_hinge_loss" ,
       "object_params": {}
    }
  ],
  "metrics": [ "precision@10", "ndcg@20", "map" ]
}
