{"description":{
		"indexed_data": "Gives the INDRI index of the collection.",
		"queries": "Gives the queries file.",
		"data_name": "Gives the collection name.",
		"relevance_judgements": "Gives the TREC like relevance judgements file, if extraction with relevance judgements.",
		"run_file": "Gives the TREC formatted run file, if extraction from only one run.",
		"runs_folder": "Gives the folder that contains a set of TREC like run files, if extraction from alist of runs",
		"output_folder": "Gives the output folder where constructed file will be stored.",
		"cross_validation": "set to true if want to construct data for n-cross validation.",
		"num_folds": "give the number of folds, n value, if cross_validation=true."
	},
	"indexed_data": "/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
	"queries": "/home/thiziri/Documents/DOCTORAT/COLLECTION/TOPICS/AP88",
	"data_name": "AP88",
	"relevance_judgements": "",
	"run_file": "/home/thiziri/Documents/DOCTORAT/TESTS/RUNS/INDRI_runs/okapi_k1_1.2_b_0.75_k3_7_AP88",
	"runs_folder": "/home/thiziri/Documents/DOCTORAT/PROGRAMS/Projects/2ndYear/data_preparation/for_matchZoo/indri_runs",
	"output_folder": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo/my_tests/custom_test/data/AP88/from_indri_runs/combined_LM_Okapi/multi_graded_judgement/5_crossValid",
	"cross_validation": true,
	"num_folds": 5,
	"from_qrels": false,
	"from_run": false,
	"from_runs": true,
	"reranking": true,
	"binary_judgements": false
}
