{
  "description": {
    "indexed_data": "Gives the INDRI index of the collection.",
    "queries": "Gives the queries file.",
    "relevance_judgements": "Gives the TREC like relevance judgements file, if extraction with relevance judgements.",
    "runs_folder": "Gives the folder that contains a set of TREC like run files, if extraction from alist of runs",
    "output_folder": "Gives the output folder where constructed file will be stored.",
    "split_data": "Gives the split data into test/train/valid folds",
    "run_file": "give the 2k run_file for reranking",
    "k": "Number of results to rerank from the run_file",
    "cross_validation": "set to true if cross_validation",
    "binary_judgements": "set to true to generate binary judgements for ranked documents",
    "scales": "give a number of scales if not binary judgements",
    "ranks": "a list of rank intervals that will be used with the scales.",
    "reranking": "set to true if want to rerank a run_file results"
  },
  "indexed_data": "/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
  "queries": "/home/thiziri/Documents/DOCTORAT/COLLECTION/TOPICS/AP88",
  "relevance_judgements": "",
  "runs_folder": "indri_runs",
  "output_folder": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest/data/AP88/from_indri_run/combined_runs_then_rerank/judged_with_multigrade/LM",
  "split_data":"/home/thiziri/Documents/DOCTORAT/COLLECTION/split_data/by_queries/AP88/same_test_train_valid",
  "run_file": "indri_runs/dirichlet_mu_2500_AP88",
  "k":1000,
  "cross_validation": true,
  "binary_judgements": false,
  "scales": 3,
  "ranks": [
    [1, 10],
    [11, 30],
    [31, 50]
  ],
  "reranking": true
}
