{
  "indexed_data": "/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
  "stopwords": false,
  "queries": "/home/thiziri/Documents/DOCTORAT/COLLECTION/TOPICS/AP88",
  "stemmer": "krovetz",
  "output_folder": "/home/thiziri/Documents/DOCTORAT/SOFT/MatchZoo_latest1/data/AP88/from_qrels/title_only",
  "relevance_judgements": "/home/thiziri/Documents/DOCTORAT/COLLECTION/QRELS/extractedQrels/qrels251_300AP88",
  "split_folds": "/home/thiziri/Documents/DOCTORAT/COLLECTION/split_data/by_queries/AP88/5_crossValid",
  "title_len": 30
}