{"description":{
    "indexed_data": "Gives the INDRI index of the collection.",
    "queries": "Gives the queries file.",
    "relevance_judgements": "Gives the TREC like relevance judgements file, if extraction with relevance judgements.",
    "runs_folder": "Gives the folder that contains a set of TREC like run files, if extraction from alist of runs",
    "output_folder": "Gives the output folder where constructed file will be stored.",
    "split_data": "Gives the split data into test/train/valid folds",
    "train_run": "Gives the TREC formatted run file, if train data will be extracted from only one run.",
    "train_relations": "Gives the trec_qrels like file with training labels",
    "rerank_run": "Gives the TREC formatted run file that will be re-ranked",
    "k": "Number of results to rerank from the run_file",
    "scales": "give a number of scales if not binary judgements",
    "ranks": "a list of rank intervals that will be used with the scales.",
    "cross_validation": "set to true if want to construct data for n-cross validation.",
    "from_qrels": "set to true to train in data from relevance judgements",
    "from_run": "set to true to train in data from a given run_file",
    "reranking": "set to true if want to rerank a run_file results",
    "binary_judgements": "set to true to use 1 or 0 relevance judgement"
  },
  "indexed_data": "/home/thiziri/Documents/DOCTORAT/COLLECTION/Indri_index/AP88",
  "train_queries": "/home/thiziri/Documents/DOCTORAT/COLLECTION/trec_million_queries/MQ_queries",
  "test_queries": "/home/thiziri/Documents/DOCTORAT/COLLECTION/TOPICS/AP88/",
  "relevance_judgements": "",
  "output_folder": "/home/thiziri/Desktop",
  "split_data": "/home/thiziri/Documents/DOCTORAT/COLLECTION/split_data/by_queries/million_queries/same_test_train_valid",
  "train_run": "/home/thiziri/Documents/DOCTORAT/TESTS/RUNS/INDRI_runs/okapi_k1_1.2_b_0.75_k3_7_AP88_MQ",
  "train_relations":"/home/thiziri/Documents/DOCTORAT/TESTS/RUNS/INDRI_runs/run2relations_okapi_k1_1.2_b_0.75_k3_7_AP88_MQ",
  "rerank_run": "indri_runs/okapi_k1_1.2_b_0.75_k3_7_AP88",
  "k":2000,
  "scales": 3,
  "train_queries_format":"mq",
  "test_queries_format": "trec",
  "ranks": [
    [1, 10],
    [11, 30],
    [31, 50]
  ],
  "cross_validation": true,
  "from_qrels": false,
  "from_run": true,
  "reranking": true,
  "binary_judgements": false
}
