{
  "train_run": "/home/thiziri/Documents/DOCTORAT/TESTS/RUNS/INDRI_runs/okapi_k1_1.2_b_0.75_k3_7_AP88_MQ",
  "output": "/home/thiziri/Documents/DOCTORAT/TESTS/RUNS/INDRI_runs",
  "binary": false,
  "relevance_judgements": "",
  "k": 2000,
  "scales": 3,
  "ranks": [
    [
      1,
      10
    ],
    [
      11,
      30
    ],
    [
      31,
      50
    ]
  ]
}