{"description":{
  "queries_format":"the format like of the query file: trec for trec like format or mq for million queries",
  "same_test_train_valid":"if you want to have the same content for test, train and valid output files",
  "validation": "if need to have a validation set"
},
  "parameters":{
    "only_queries":true,
    "only_docs" :false,
    "docs_and_queries":false,
    "folds_num":5,
    "validation":false,
    "index":"",
    "queries_folder":"/home/thiziri/Documents/DOCTORAT/COLLECTION/trec_million_queries/MQ_queries",
    "output_folder":"/home/thiziri/Documents/DOCTORAT/COLLECTION/split_data/by_queries/million_queries/split",
    "queries_format":"mq",
    "same_test_train_valid":false
}
}